/* 共通 */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-toggler {
  z-index: 1;
}

li {
  margin: 0px 10px;
}

.background{
  background: linear-gradient(90deg, #A7A6D8, #FF0000);
  min-height: 100vh;
}

.header-nav{
  font-weight: bold;
  font-size: 30px;
}

a{
  color: #333;
}

a:hover{
  text-decoration: none;
}

.img-header{
  width: 1300px;
}

.menu{
  display: flex;
  justify-content: center;
}

.menu-navi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
	margin-right: 50px;
	list-style: none;
}

#back {
  z-index: 1;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}

.card {
  margin-bottom: 30px;
  margin-right: 20px;
  max-width: 200px;
}

/* 共通ここまで */

.about{
  font-size: 250%;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.about-item{
  font-size: 150%;
  color: white;
}

.member-head{
  font-size: 250%;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.member-bookshelf-head{
  font-size: 150%;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 991px) {
  .title{
    font-size: 90%;
  }
}