body {
  height: 100%;
}

.navbar-toggler {
  z-index: 1;
}

/*========= レイアウトのためのCSS ===============*/

.background{
  background: linear-gradient(90deg, #A7A6D8, #FF0000);
}


a{
  color: #333;
}

a:hover{
  text-decoration: none;
}

.navbar-brand{ /*ロゴ*/
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.navbar-nav{
margin-left:auto;
}

.header-nav{
  font-weight: bold;
  font-size: 30px;
}

.menu{
  display: flex;
  justify-content: center;
}

.menu-navi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
	margin-right: 50px;
	list-style: none;
}

.about{
  font-size: 250%;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.about-item{
  font-size: 150%;
  color: white;
  text-align: center;
}

.img-header{
  width: 1300px;
}

.member-head{
  font-size: 250%;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.member-bookshelf-head{
  font-size: 150%;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.card {
  margin-bottom: 30px;
  margin-right: 20px;
  max-width: 200px;
}

.sns-head{
  font-size: 250%;
  font-weight: 800;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.blue{
  background: blue;
}

#back {
  z-index: 1;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}

@media (max-width: 991px) {
  .title{
    font-size: 90%;
  }
}